<div class="container">
    <h5>Login</h5>
    <div class="row">
      <div class="col-sm">
        <label>E-mail</label>
        <input id="user" type="email" class="form-control" placeholder="email@dominio.com" >
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <label>Senha</label>
        <input type="password" class="form-control" placeholder="Senha">
      </div>
    </div>
    <div class="row">
      <div class="col-sm">
        <button type="submit" class="btn btn-primary">Entrar</button>
      </div>
    </div>
    </div>