<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
        Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
      </p>
    </div>
    <div class="col-sm-8">
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
        Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
      </p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
        Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
        Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
      </p>
      <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
        <p>Lorem, ipsum dolor sit amet consectetur adipisicing elit.
          Cupiditate consequuntur pariatur ratione deleniti sequi dolore minima sunt. 
          Officia animi deleniti nemo soluta ut, voluptatum eligendi qui accusamus, nam labore voluptates!
        </p>
    </div>
  </div>
</div>